# Ignore virtual environment
.venv/
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large data
data_raw/
outputs/
models/

# Ignore VSCode or editor settings
.vscode/
.idea/
